<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello, world!</title>
</head>
<body>
<h1>Todo </h1>

<form th:action="@{/add-todo}" th:object="${todo}" method="post">
    <input type="hidden" th:field="*{id}" value="0">
    title:<input type="text" th:field="*{title}"><br/>
    detail:<input type="text" th:field="*{detail}"><br/>
    <input type="submit" value="submit">
</form>
</body>
</html>